@charset "utf-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background: none repeat scroll 0 0 transparent;border: 0 none;font-size: 100%;outline: 0 none;vertical-align: baseline;margin: 0;padding: 0;}table{border-collapse:collapse;border-spacing:0;}address,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,nav,section,summary{display:block;}  a, a:hover,button,button:hover, .anime, .small_btn, .btn:hover .small_btn   {-moz-transition:all 200ms linear;-ms-transition:all 200ms linear;-o-transition:all 200ms linear;-webkit-transition:all 200ms linear;transition:all 200ms linear;}  button{cursor:pointer;}  *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}



.main_flex {display:flex;display:-webkit-flex;-webkit-flex-flow:row wrap;flex-flow:row wrap;}
.main_flex__nowrap{display:flex;display:-webkit-flex;-webkit-flex-flow:row nowrap;flex-flow:row nowrap;}
.flex__jcontent_between {justify-content:space-between;-webkit-justify-content:space-between;}
.flex__jcontent_start{justify-content:flex-start;-webkit-justify-content:flex-start;}
.flex__jcontent_end{justify-content:flex-end;-webkit-justify-content:flex-end;}
.flex__jcontent_center{justify-content:center;-webkit-justify-content:center;}
.flex__jcontent_around{justify-content:space-around;-webkit-justify-content:space-around;}
.flex__auto {flex:auto;-webkit-flex:auto;-ms-flex:auto;}
.flex__align-items_start{align-items:flex-start;-webkit-align-items:flex-start;}
.flex__align-items_end{align-items:flex-end;-webkit-align-items:flex-end;}
.flex__align-items_baseline{align-items:baseline;-webkit-align-items:baseline;}
.flex__align-items_stretch{align-items:stretch;-webkit-align-items:stretch;}
.flex__align-items_center{align-items:center;-webkit-align-items:center;}
.flex__align-content_flex-start{align-content:flex-start;-webkit-align-content:flex-start;}
.flex__align-content_flex-end{align-content:flex-end;-webkit-align-content:flex-end;}
.flex__align-content_space-between{align-content:space-between;-webkit-align-content:space-between;}
.flex__align-content_center{align-content:center;-webkit-align-content:center;}
.flex__align-content_space-around{align-content:space-around;-webkit-align-content:space-around;}
.flex__align-content_stretch{align-content:stretch;-webkit-align-content:stretch;}
.flex__flex-grow_01{flex-grow:1;-webkit-flex-grow:1;}
.flex__flex-grow_02{flex-grow:2;-webkit-flex-grow:2;}
.flex__flex-grow_03{flex-grow:3;-webkit-flex-grow:3;}
.flex__flex-grow_04{flex-grow:4;-webkit-flex-grow:4;}

@font-face{
	font-family: 'Roboto-regular';
	src:url('../data/roboto/Roboto-Regular.ttf');
}

@font-face{
	font-family: 'Roboto-Bold';
	src:url('../data/roboto/Roboto-Bold.ttf');
}

@font-face{
	font-family: 'Roboto-Medium';
	src:url('../data/roboto/Roboto-Medium.ttf');
}

body{
	font-family: 'Roboto-regular';
	font-size:0.95vmax;
	line-height: 1.17vmax;
	background-color: #e6f3f3 ;
	color:#606060;
	height: 100%;
}

html{
	height: 100%;
}

.wrap{
	width: 94.85vw;
	margin:0 auto;
	position:relative;
}


.dark{
	background-color: #2e2e30;
	color:#fff;
}
.grey{
	background-color: #838b8f;
	color:#fff;
}

.header_logo{
	margin-top:2.5vmax;

}
#top{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 9vmax;
}


/* #top .wrap{
	height: inherit;
} */

div .btn{
	border-radius:0.33vw;
	padding: 0.66vw 1.32vw;
	overflow: hidden;
	cursor:pointer;
}

#sign{
	border:1px solid #ededed;
	color:#fff;
	font-size:1vmax;

}


#sign  svg{
	width: 1.33vmax;
	height: auto;
	fill:#7e7e7e;
	margin-right: 1.83vmax;
}

#sign:hover{
background-color: #ededed;
color:#2e2e30;
}
#sign:hover svg{
	fill:#2e2e30;
}

 #location,
 #currency {

	font-family: 'Roboto-Medium';
	margin-left: 5.25vw;
	color: #aaaaaa;
	font-size:1.1vmax;
}

 #currency {
 	margin-left: 0;
 	margin-right: 1vmax;

 }
 .imgcurrency img{
	 position: relative;
	 width: 2vw;
	 margin-right:5.25vw;
	 cursor:pointer;
 }
 .locationImg img{
	position: relative;
	width: 2vw;
	
	margin-left:1vmax;
	cursor:pointer;
 }
#location span,
#currency span{
	font-family: "Segoe UI", "Dejavu Sans",  sans-serif;
	color:#fff;
	font-size:1.1vmax;
	cursor:pointer;
	margin-left: 1.66vmax;

}

 #logoss a {
	font-size:3.33vmax;
	text-decoration:none;
	color:#fff;
	font-family: 'Roboto-regular';
}

#carte {
	border:1px solid #ededed;
	font-size:1vmax;
}

#carte svg{
	width: 1.33vmax;
	height: auto;
	fill:#7e7e7e;
    margin-right: 1.7vmax;
}



#carte:hover{
background-color: #ededed;
color:#2e2e30;
}

#carte:hover svg{
	fill:#2e2e30;
}


#menuha{
	width: 100%;
	height: 2.2vmax;
	/* margin-bottom: 0.8vmax; */
}

#menuha nav li{
	list-style: none;
	height: 2.2vmax;
}
 #menuha nav a{
	text-decoration: none;
}

#main_navig,
#main_navig li,
#main_navig a {
	
	display:flex;
	flex-flow:row nowrap ;
	height: inherit;
	align-items:center;
	justify-content:center;

}

#main_navig a{
	/* text-indent:0.5vmax; */
	height: 2.2vmax;
	padding:0 1.3vw;
	color: #f3f3f3;
	text-transform:uppercase;
	 font-weight: bold; 
	font-size:1.2vmax;
	font-family: "Segoe UI", "Dejavu Sans", sans-serif;
	letter-spacing: 0.1vmax;
	display:block;
	

	
}

#main_navig a:hover {
		display:block;
	 height:1vmax; 
}

#search_button{
	position:absolute;
	cursor:pointer;
	right:0;
	top:calc(50% -0.75vmax);

}

#search_button svg{
	width: 1.7vmax;
	height: 1.7vmax;
	fill:#fff;
}

#search_button svg:hover{
	transform: scale(1.1)
}




/*header{
	width: 100%;
	position:fixed;
	top:0;
	left:0;
	height: 9.26vh;
	z-index: 0;

}

header .wrap,
header .main_flex__nowrap{
	height: inherit;
}*/

.color_main{
	background-color:#1bbcb8;
}

nav a{
	text-decoration:none;
}

nav li{
	list-style:none;
}

#main_nav a {
	color:#fff;
	text-transform:uppercase;
	padding-right:1.17vw;
}

#main_nav a:hover{
	cursor:pointer;
	text-decoration:underline;
}

#logo {
	width: 8vw;
	margin-right:8vw;
}
#cart{
	width: 2.94vw;
	margin-left:2.2vw;
	margin-right:2.2vw;
	cursor:pointer;
}

#logo img, #cart img {
	width: 100%;
	height:auto;
}

input[name="search"] {
	background-color: #e6f3f3 ;
	border:none;
	border-radius: 0.36vw;
	height: 4.65vh;
	width: 30.88vw;
	padding-left: 1vw;
	padding-right:2vw;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	background-position:98% 50%;

}

.home #search{
	/*display: none;*/
}








#banner{
	z-index: 5;

	width:100%;
	height: 83vh;
	background-color:#15d3cf;
	/* background-image: url(../img/leaves-pattern.png);
	background-repeat:repeat;
	background-position:top; */
	/* background-size:cover; */
}

#banner_wrap{
	height: 81.16vh;
    background-color:#fff;
	position:absolute;
	/*top:15.11vh;*/
	top:11.11vmax;
	left:calc(50% - 47.425vw);
	border:1px solid #fff;
	background-image: url("../img/bg_banner.png");
	position:top;
	background-repeat:no-repeat;
	background-size:cover;

}

#banner_wrap:after {
	content:"";
	background-image: url("../img/shadow.png");
	background-repeat: no-repeat;
	background-size:contain;
	background-position:top;
	width: 94.85vw;
	height:3.83vh;
	position: absolute;
	bottom:-3.83vh;
	left:calc(50% - 47.425vw);

}
.slide_banner{
	position:relative;
	height: 81.16vh !important;
}

.slide_img_banner{
	position:absolute;
	z-index: 5;
	width: 46.15vw;
	height: 53vh;
	top:16vh;
	left:8vw;
}

.slide_img_banner img{
	height:100%;
}
.slider_order_banner{
	width: 28.26%;
	height: auto;
	background-color:#fff;
	box-shadow:1vmax 1vmax 1vmax 0px rgba(0, 0, 0, 0.2);
	border-radius:.36vw;
	padding:2.4vw;
	position:absolute;
	right:2.17vw;
	bottom:11%;
	z-index:5;
}

.btn {
	border:none;
	color:#fff;
	border-radius:.36vw;
}

.main_btn {
	background-color: rgb(27, 188, 184);
	box-shadow:.5vmax .5vmax .5vmax 0px rgba(0, 0, 0, 0.2);
	text-transform:uppercase;
	padding:1.74vh 3.5vw;
}

.main_btn:hover {
	box-shadow: none;
}

.label_input_box label {
	color:#062726;
	text-align:left;
	max-weight:4.34vw;
	margin-right:1.45vw;
	width: 4.34vw;
	display: block;
}

.inline_radio input{
	display:none;
}

input[type="number"]{
	width: 5.8vw;
	height: 4.65vh;
	text-align: center;
	border-radius:0.3vw;
	border: 1px solid #a2a2a2;

}

.inline_radio input[type='radio'] {
	display:none;
}

.inline_radio{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.inline_radio label{
	width: 2.9vw;
	height: 2.9vw;
	color:#062726;
	display:inline-block;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-right: 0.72vw;
}

.inline_radio label:nth-last-of-type{
	margin-right:0;
}

.box_radio label{
	border:1px solid #093c3b;
}
.box_radio label:hover{
	border:1px solid #093c3b;
	background-color: #093c3b;
	color:#fff;
}

.radio_color label{
	border-radius:3vw;
	border: 3px solid #fff;
}

.radio_color label:nth-last-of-type(1){
	background-color: #8b4e39;
	border-color: #8b4e39;
}

.radio_color label:nth-last-of-type(2){
	background-color: #060606;
	border-color: #060606;
}

.radio_color label:nth-last-of-type(3){
	background-color: #0a2533;
	border-color: #0a2533;
}

.radio_color label.select{
	border-color:#1bbcb8;
}

.box_radio label.select{
	border:1px solid #093c3b;
	background-color: #093c3b;
	color:#fff;
}

.slider_bottom_bg {
	background-color: #fff;
	width: 100%;
	height: 23.25vh;
	position: absolute;
	bottom: 0;
	left: 0;
}

.slide_title_banner {
	color:#fff;
	width: 46vmax;
	height: 21vmax;
	position:absolute;
	top:19%;
	left:45%;
}

.slide_title_banner h2 {
	font-size:3vmax;
	font-family: 'Roboto-Bold';
	line-height: 1;
	text-transform: uppercase;
}

.slide_title_banner h3{
	margin-top:2vmax;
	margin-right:1.5vmax;
	font-size:3.1vmax;
	font-weight:lighter;
	font-family: 'Roboto-Medium';
	line-height: 0.3;
}

.slide_title_banner p{
	width: 40vw;
	margin-top:2.2vmax;
}

.slide_title_banner a{
	position: absolute;
	top:30%;
	text-decoration:none;
	font-size:2vmax;
	color:#fff;
	margin-left: 20vmax;
}

.slide_title_banner a:hover{
	
	color:#15d3cf;

}

.input_box{
	margin-bottom:2.32vh;
}

#banner_wrap .slick-dots {
	bottom:10px;

}


main{
	padding-top:4.13vmax;
	padding-bottom:1.5vmax;
	z-index: -1;

}

#left_bar{
	width: 19.16vw;
}

#right_bar{
	width: 70.83vw;


}

.box{
	border-radius:0.33vw;
	background-color:#fff;
}

.botton{
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
}
main #load_more {
	outline:none;
	border: none;
	width: 60%;
	border-radius:0.33vw;
	color:#fff;
	background-color: #15d3cf;
	font-size:1.25vmax;
	padding-top:0.3vmax;
	padding-bottom: 0.3vmax;
	margin-top:0.3vmax;
	


}

main #load_more:hover{
	transform:scale(0.95);
}

.product{
	flex-flow:column nowrap;
	text-decoration: none;
	padding:1.66vmax 1.66vw;
	width: 16.4vw;
	height: 25vmax;
	margin-right: 1.66vw;
	margin-bottom: 1.66vmax;
	position: relative;
}

.product:nth-of-type(4n){
	margin-right:0;
}

.product:hover{
	transform:scale(1.01);

}

.img_product {
	width: 100%;
	height: 13.33vmax;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin-bottom: 2.1vmax;

}

.img_product img {
	height: auto;
	width: 100%;
	margin:auto;
	transition:0.5s linear;
}
.img_product:hover{
	transform:scale(1.2);

}

.product h2{
	font-size:1.25vmax;
	line-height: 1.5vmax;
	text-align: center;
	color:#3a3d3f;
	margin-bottom: 0.83vmax;
	font-weight: bold;
}

.product p:first-of-type{
	text-align: center;
	font-style: italic;
	color: #838c8e;
	font-size: 1vmax;
}

.price{
	color:#838c8e;
	font-size: 1.08vmax;
	font-weight: bold;
	margin-top: 0.83vmax;
}

.tag{
	background-color:#84ce8b;
	color:#fff;
	padding:0.5vmax;
	font-size: 0.83vmax;
	text-transform:uppercase;
	position:absolute;
	right:1.66vmax;
	top:1.66vmax;
	z-index:2;
	letter-spacing:0.2vw;
}





.list_box{
	width: 100%;
}

.title_box,
.title_filter{
	height: 100%;
	height:4.16vmax;
	padding:0 1.66vmax;
	border-bottom: 1px solid #D1D1D6;

}


.title_box.bordernone {
	border-bottom: none;
}

.title_box img{
	width:  1vmax ;
	height: auto;
	fill:#ccc;
	border-bottom:  1px solid #eee;
	cursor:pointer;
}

.title_box p,
.title_filter {
	color: #3c3d41;
	font-size:1vmax;
	text-transform:uppercase;
	letter-spacing:0.1vw;
	font-weight:bold;
}

.title_box.open img{
	fill:#838d8f;
	transform:rotate(90deg);
}

.list_link {
	background-color:#838d8f;

	height: 0;
	overflow:hidden;
}

.list_link.open {
	height: auto;
	overflow:auto;
	padding: 1.2vmax 1.68vmax 1.2vmax 1.68vmax ;
}


.list_link a {
	color:#daddde;
	font-size:1.2vmax;
	
	/* font-family: "Segoe UI", "Dejavu Sans", sans-serif; */
	display:block;
	
}

.list_link a:hover{
	display:block;
	position: relative;
	bottom:0.1vmax;
	color:#fff;
	transform:scale(1.5vmax);
	
}
.list_link li{
	margin-bottom: 1.25vmax;
	border-bottom:1px dashed #daddde;
}

.list_link li:last-of-type{
	margin-bottom:0;
}

.filter_box{
	margin-top: 1.83vmax;
}

.list_filter label{
	display:flex;
	flex-flow:row nowrap;
	justify-content: center;
	align-items:center;
	width: 2.66vmax;
	height: 2.66vmax;
	border-radius:2.66vmax;
	color:#3c3d41;
	font-size:1.2vmax;
	cursor:pointer;
}


.list_filter li{
	list-style: none;
	margin-right:0.66vw;
	margin-bottom:0.83vmax;
}

.list_filter li:nth-of-type(5n){
	margin-right:0;
}

.list_filter input[type='checkbox']{
	display:none;
}

.content_filter{
	padding:1.6vmax;
}

.color_list input[type='checkbox']:checked + label{
	box-shadow:0 0 5px 2px #717070;
}

input[type='checkbox']:checked + label{
	background-color:#838d8f;
	color:#fff;
}

.price_box input{
	margin-top:1vmax;
	border:none;
	font-size:1.2vmax;
	color:#878787;
	text-align:center;
	width: 30%;
}

.price_box input:focus,
#newsLetter input:focus{
	border:none;
	outline:none;
}

footer{
	width: 100%;
	min-height: 5.25vmax;
	background-color: #fff;
	padding-top:2.5vmax;
	padding-bottom:2vmax;
}

#footer_nav a{
	text-transform: uppercase;
	color: #3c3d41;
	font-weight: bold;
	font-size: 1vmax;
	margin-right:6vmax;
	cursor:pointer;
}

#footer_nav li:last-of-type a{
	margin-right:0;
}

#footer_nav a:hover{
	text-decoration:underline;
}

#footer_nav {
	margin-bottom:1.5vmax;
}

#newsLetter p {
	color:#3c3d41;
	font-size:0.9vmax;
	margin-right:2vmax;
}

#newsLetter input{
	border:none;
	height:2.66vmax;
	width: 18.8vmax;
	background-color: #eee;
	color:#878787;
	font-size:1vmax;
	padding-left:1.25vmax;
	padding-right:3vmax;
	background-image:url("../img/email.png");
	background-repeat:no-repeat;
	background-position:95% 50%;
}

#soc_list{
	margin-top:1.8vmax;
}

#soc_list li{
	list-style:none;
	margin-right: 3.5vmax;
}

#soc_list li:last-of-type{
	margin-right:0;
}

#soc_list img{
	height: 1.25vmax;
	width: auto;
	filter: invert(0.5);
	color:#878787;

}

#cart_box {
	position:fixed;
	z-index:100;
	right:0;
	top:0;
	height:100vh;
	background-color:#fff;
	width: 35vw;
	box-shadow: -3px 2px 9px rgba(88, 88, 88, 0.52);
	transform:translateX(100%);
	flex-flow: column nowrap !important;
}

#cart_box.open{
	transform:translateX(0);
}


.title_cart{
	background-color: #6ddab4;
	width: 100%;
	height: 4vmax;
	padding:1.5vmax;
	color:#fff;
	fill:#fff;
	cutsor:pointer;

}

#next{
	width: 1.9vmax;
	height: 1.9vmax;
}

.title_cart p{
   font-size: 1.3vmax;
}

#order,
.submit{
	outline:none;
	width: 100%;
	height: 2.5vmax;
	color: #fff;
	background-color:rgb(29, 132, 180, 1.00);
	border:none;
	font-size: 1.3vmax;
	text-transform:uppercase;
}
.submit{
	border-radius:0.33vmax;
}

.submit:hover{
	transform:scale(1.02)
}

#black_fill{
	display: none;
	position:fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.7);
	z-index: 100;
	top:0;
	left:0;
}

#modal{
	display: none;
	position:fixed;
	z-index: 130;
	width: 30vw;
	top:15vh;
	left:calc(50% - 15vw);


}

#black_fill.open,
#modal.open{
	display: block !important;
}

#conten_modal{
	background:#fff;
	border-radius:0.33vmax;
	padding: 1.5vw;
	width: 100%;
}
#close_mod{
	width: 1.5vmax;
	height: 1.5vmax;
	position:absolute;
	top:-2vmax;
	right:-2vmax;
	cursor:pointer;
	fill:#fff;
}

.input{
	width: 100%;
	margin-bottom: 1vmax;
}

.input input{
	width: 100%;
	height: 2.5vmax;
	text-align: center;
	border-radius: 0.33vmax;
	border:1px solid #ccc;
	font-size:1vmax;
}

#search-panel{
	position: absolute;
	z-index: 105;
	height: inherit;
	/* background-color: #fff; */
	padding: 1vmax;
	right:2vmax;
	width: 17%;
	display:none;
}

#search-panel.open{
	display:block !important;
}

#search-panel input{
	
	width: 100%;
	border: 1px solid #818181;
	border-radius:0.2vmax;
	outline:none;
}

/* .fixed{
	margin-bottom: 0;
} */